<footer class="bg-gray-100 text-gray-800 py-10 flex flex-col items-center ">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4">
        <!-- Address -->
        <div>
            <div class="flex items-center gap-2">
                <i class="bi bi-geo-alt icon text-2xl text-green-500"></i>
                <h1 class="font-bold">Address</h1>
            </div>
            <p class="text-sm">A108 Adam Street</p>
            <p class="text-sm">New York, NY 535022</p>
        </div>

        <!-- Contact -->
        <div>
            <div class="flex items-center gap-2">
                <i class="bi bi-telephone icon text-2xl text-green-500"></i>
                <h1 class="font-bold">Contact</h1>
            </div>
            <p class="text-sm"><span class="font-semibold">Phone:</span> +1 5589 55488 55</p>
            <p class="text-sm"><span class="font-semibold">Email:</span> info@example.com</p>
        </div>

        <!-- opening hours -->
        <div>
            <div class="flex items-center gap-2">
                <i class="bi bi-clock icon text-2xl text-green-500"></i>
                <h1 class="font-bold">Opening Hours</h1>
            </div>
            <p class="text-sm"><span>Mon-Sat:</span> 11AM - 23PM</p>
            <p class="text-sm"><span>Sunday:</span> Closed</p>


        </div>

        <!-- Follow us -->
        <div class="">
            <h1 class="font-bold mb-4">Follow Us</h1>
            <div class="flex gap-3 ">
                <div>
                    <i class="bi bi-twitter-x border py-1 px-2 rounded-full text-gray-500 hover:text-green-500"></i>
                </div>
                <div>
                    <i class="bi bi-facebook border py-1 px-2 rounded-full text-gray-500 hover:text-green-500"></i>
                </div>
                <div>
                    <i class="bi bi-instagram border py-1 px-2 rounded-full text-gray-500 hover:text-green-500"></i>
                </div>
                <div>
                    <i class="bi bi-linkedin border py-1 px-2 rounded-full text-gray-500 hover:text-green-500"></i>
                </div>
            </div>

        </div>
    </div>

    <div class="flex items-center justify-center mt-10 text-gray-300">
        <hr class="w-[90%]">
    </div>

    <div class="flex justify-center mt-3 gap-4 text-sm">
        <p>© Copyright</p>
        <p class="font-bold"> EstateAgency</p>
        <p> All Rights Reserved</p>
    </div>
    <div class="flex justify-center">Designed by Saxodev & Friday</div>
</footer>