<header class="fixed top-0 z-80 bg-white shadow-md w-screen">
    <div class="mx-auto max-w-7xl px-4 md:px-20 py-4">
        <div class="flex  items-center justify-between">

            <!-- Logo -->
            <a routerLink="/" class="text-2xl font-bold">
                Estate<span class="text-green-500">Agency</span>
            </a>

            <!-- Desktop view -->
            <nav class="hidden lg:flex items-center gap-8 nav">

                @for(nav of navs; track $index){
                <a [routerLink]="nav.path" routerLinkActive="active" [routerLinkActiveOptions]="{exact: nav.exact}"
                    class="border-b-2 border-transparent text-heading/65 font-semibold pb-1  transition-all duration-300 hover:border-accent">
                    {{nav.text}}
                </a>
                }

            </nav>
            <!-- Mobile Hamburger -->
            <button type="button" (click)="isMenuOpen = !isMenuOpen" class="lg:hidden text-3xl">
                <i class="bi" [ngClass]="isMenuOpen ? 'bi-x-lg' : 'bi-list'"></i>
            </button>
        </div>

        <!-- Mobile Menu -->
        @if(isMenuOpen){
        <div class="lg:hidden pb-5">

            <nav class="flex flex-col gap-1 nav">
                @for(nav of navs; track $index){
                <a [routerLink]="nav.path" routerLinkActive="active" [routerLinkActiveOptions]="{exact: nav.exact}"
                    (click)="isMenuOpen=false" class="rounded-lg px-4 py-3 hover:bg-gray-100 border-b-0">
                    {{nav.text}}
                </a>
                }
            </nav>
        </div>
        }

    </div>
</header>